    body {
        padding: 0;
        margin: 0;
    }
    
    #map,
    body,
    html {
        height: 100%;
    }
    
    .info {
        padding: 10px 15px;
        font: 14px/16px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    
    .legend {
        line-height: 20px;
        color: rgb(14, 13, 13);
    }
    
    .legend i {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
    /* css to customize Leaflet default styles  */
    
    .myCSSClass {
        background: rgb(10, 10, 10);
        color: aliceblue;
        /* border: 2px solid cyan */
    }
    
    .leaflet-tooltip-left.myCSSClass::before {
        border-left-color: cyan;
    }
    
    .leaflet-tooltip-right.myCSSClass::before {
        border-right-color: cyan;
    }
    
    #myChart,
    #plot1,
    #myChart2 {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        text-align: center;
        float: none;
        /* margin: 0 auto; */
    }
    
    @media only screen and (min-width: 992px) {
        #map {
            height: 500px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        #map {
            height: 400px;
        }
        #myChart,
        #plot1,
        #myChart2 {
            display: block;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            text-align: center;
            float: none;
            /* margin: 0 auto; */
        }
    }